.main-navbar {
  background-color: #333;
  padding: 10px 20px;
}

.active-gender {
  color: white;
  font-weight: bold;
}

.active-tab {
  background-color: #2c2c2c;
  color: white !important;
  font-weight: bold;
  border-radius: 0;
}
.navbar-brand {
  font-size: 1.8rem;
  color: rgb(160, 16, 16);
}

.gender-nav .nav-link {
  color: white;
  margin: 0 10px;
  font-weight: bold;
}

.gender-nav .nav-link.active {
  background-color: white;
  color: black;
  padding: 5px 15px;
  border-radius: 2px;
}

.search-bar {
  flex: 1;
  margin: 0 30px;
}

.search-bar input {
  border-radius: 20px;
}

.icons-nav .nav-item {
  margin: 0 10px;
  color: white;
  font-size: 1.5rem;
}

.category-bar {
  background-color: #686e75;
  padding: 8px 0;
}

.category-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.category-list .nav-link {
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
}

.category-list .nav-link:hover {
  color: #ddd;
}
